<div class="container">

    <form action="/signup" method="post">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="Name" />

        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="text" class="form-control" name="Email" placeholder="Enter email" />
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="Password" placeholder="Enter Password" />
            </div>

            <button type="submit" class="btn btn-primary col-md-6">Submit</button>
            <a class="ml-5 p-5 mt-2" href="/login">Already an Account? </a>
        </div>
    </form>
</div>